Scripts/25_10 messing around.ipynb
Scripts/25_10_24 test.jl
Scripts/WAYNE scan epidemic size.jl
.Rproj.user
Figures/Michaelis-Menten1.png
Figures/Michaelis-Menten2.png
Figures/Michaelis-Menten3.png
Scripts/25_12 Michaelis-Menten.jl
Data/Plantago/ALL_FINAL.xlsx
Data/Plantago/distanceMatrix.csv
